.idea/*
*.log
data/crosswoz/nlu_intent_data/intent_test_data.json
data/crosswoz/nlu_intent_data/intent_val_data.json
data/crosswoz/nlu_intent_data/intent_train_data.json
data/crosswoz/readable_data/readabe_test_data.json
data/crosswoz/readable_data/readabe_train_data.json
data/crosswoz/readable_data/readabe_val_data.json
log/*
output/*
build/
xbot.egg-info/
dist/
events*
*.pt